.navbar {
    background-color: #1e1e2f;
    padding: 1rem 2rem;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute items */
    align-items: center; /* Vertically align items */
}

.navbar-title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Allow nav links to take up available space */
    justify-content: center; /* Center the nav links */
}

.navbar-nav li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 5px;
    position: relative;
}

.navbar-nav li a:hover {
    color: #4fc3f7;
}

/* underline on hover */
.navbar-nav li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #4fc3f7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navbar-nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-signup a {
    text-decoration: none;
    color: #1e1e2f; 
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #143d50;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff; 
}

.navbar-signup a:hover {
    background-color: #1e1e2f; 
    color: #ffffff; 
}