<div class="slice-section">
    <p class="section-title">Generate Slice</p>
  
    <div class="controls">
      <select [(ngModel)]="orientation" class="select-control">
        <option value="axial">Axial</option>
        <option value="coronal">Coronal</option>
        <option value="sagittal">Sagittal</option>
      </select>
  
      <input type="number" [(ngModel)]="selectedSlice" placeholder="Enter slice number" class="input-control" />
      
      <button (click)="DoVisualizeSlice()" class="slice-btn">Visualize Slice</button>
    </div>
  
    <div *ngIf="segmentationImgUrl" class="result">
      <h4>Result:</h4>
      <img [src]="segmentationImgUrl" alt="Segmentation Slice" />
    </div>
  </div>
  <div class="segmentation-legend">
    <p><strong>Class Labels:</strong></p>
    <ul>
        <li><span class="color-box enhancing"></span>(3): Enhancing Tumor </li>
        <li><span class="color-box edema"></span>(2): Edema </li>
        <li><span class="color-box necrotic"></span>(1): Necrotic </li>
        <li><span class="color-box bg"></span>(0): Background </li>
      
    </ul>
  </div>
  