<p>generate slice </p>
<select [(ngModel)]="orientation">
    <option value="axial">Axial</option>
    <option value="coronal">Coronal</option>
    <option value="sagittal">Sagittal</option>
</select>
<input type="number" [(ngModel)]="selectedSlice" placeholder="Enter slice number" /> enter slice number
<button (click)="DoVisualizeSlice()">Visualize Slice</button>

<div *ngIf="segmentationImgUrl">
    <h4>Result:</h4>
    <img [src]="segmentationImgUrl" alt="Segmentation Slice" style="max-width: 50%; border: 1px solid #ccc; padding: 10px;" />
  </div>