<p>about-us works!</p>
<div class="profile-grid">
    <app-profil-card 
    pName = "Oussama CHAABANE" 
    imgURL="/profils/ProfilOussama.jpeg"
    linkdinURL="https://www.linkedin.com/in/oussama-chaabane-802a22135/" /> 

    <app-profil-card 
    pName = "Oumaima HAMMAMI" 
    imgURL="/profils/ProfilOumaima.jpg"
    linkdinURL="https://www.linkedin.com/in/oumayma-hammami111/" /> 

    <app-profil-card 
    pName = "Yasmine RIABI" 
    imgURL="/profils/ProfilYasmine.jpg"
    linkdinURL="https://www.linkedin.com/in/yasmine-riabi-43b4292a0/" /> 

</div>
<div class="marouene-card">
<app-profil-card 
pName = "Encadrant: Mr. Marouene Chaieb" 
imgURL="/profils/ProfilMarouene.jpg"
linkdinURL="https://www.linkedin.com/in/marouene-chaieb-525a002a/" /> 
</div>